body{
    font-family: 'Lato', sans-serif;
    color: #222222;
    font-size: 13px;
}
/* ---------  HEADER ---------  */

.navbar{
    height:211px;
    background-color: #9fd2f1;
    background-image: url("../images/logo_reforma.png") ;
    background-size: 185px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 68px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius:0px;
    border-top-right-radius: 0px;
    border:0 solid #9fd2f1;
    margin-bottom:10px;
}
.logo{
    padding: 0;
    margin: 0;
}
.logo img{
    width: 70px;
    margin-left: 200px;
    margin-top: 68px;
}
.logo-campus-virtual {
    position: absolute;
    float: right;
    height: 308px;
    width: 215px;
    left: 925px;
    top: 0px;
}
.container > .logo-campus-virtual, .container-fluid > .logo-campus-virtual{
    /*left: 660px;*/
}
.logo-campus-virtual img{
    width: 215px;
}

@media (max-width: 767px) { /*Extra small devices */
  .logo-campus-virtual {
       left: 725px;
  }
}
@media (min-width: 768px) and (max-width: 991px) { /*Small devices Tablets */
  .logo-campus-virtual {
       left: 592px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {/*Medium devices */
  .logo-campus-virtual {
       left: 725px;
  }
}

.breadcrumb {
    position:absolute;
    background-color:inherit;
}

a.name.navbar-brand {
    position: absolute;
    top: 80px;
    color:#005288;
    font-size:20px;
    margin-left: 0;
}
a.name.navbar-brand:hover{
    color: #005288;   
}
p.lead {
    position: absolute;
    top: 118px;
    left: 270px;
    color:#005288;
    font-weight: bold;
    margin-left: 30px;
}
/* ---------  MENU  --------- */

/*#block-menu-menu-men-perfiles ul.menu.nav li{
    display:inline;
    float:left;
}
#panel-menu-superior ul.menu.nav li{
    float:left;
}

.pane-menu-menu-men-perfiles ul.menu.nav li{
    display:inline;
    float:left;
}
.pane-menu-menu-menu-ambientes ul.menu.nav li{
    display:inline;
    float:left;
}
*/
.panel-separator {
    clear: both;
}

.pane-menu-menu-men-perfiles li.leaf {
    float: left;
    display: inline;
}

.menu-name-menu-menu-ambientes li {
    float: left;
}

/*ul#superfish-3{
    margin-left: 215px;
}*/

.sf-menu-men-perfiles li> a{
    color:#0c3c6d;
    padding: 5px 5px 5px 0;
    border-bottom-width: 6px;
    border-bottom-style: solid;
    margin-right:30px;
    height:30px;
}
.sf-menu-men-perfiles li> a:hover{
    text-decoration:none;
}

a.link-ingresantes{
    border-bottom-color:#a7550e;
}
a.link-estudiantes{
    border-bottom-color:#ae2327;
}
a.link-docentesi{
    border-bottom-color:#156890;
}
a.link-nodocentes{
    border-bottom-color:#2c8656;
}
a.link-graduados{
    border-bottom-color:#00675e;
}
a.link-extranjeros{
    border-bottom-color:#99194f;
}
a.link-comunidad{
    border-bottom-color:#5b3571;
}

/*MENU AMBIENTES 1ER NIVEL*/

/*no-link*/
.sf-menu-menu-ambientes li > span{
    color: #8d9092;
    padding: 5px;
}

.sf-menu-menu-ambientes li{
    margin:5px 0 5px 0 !important;
    height:30px;
}

.sf-menu-menu-ambientes li> a{
    text-decoration:none;
    color:#8d9092;
    padding: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #8d9092;
}

.sf-menu-menu-ambientes li.first a {
    padding-left: 0;
}

.sf-menu-menu-ambientes li.last a {
    border-right-width: 0;
}

a.link-internacionales.sf-depth-1.active{
    background-color:#0071b4;
    color: #ffffff;
}
a.link-sobre-unc.sf-depth-1.active{
    background-color:#094469;
    color: #ffffff;
}
a.link-academicas.sf-depth-1.active{
    background-color:#c47629;
    color: #ffffff;
}
a.link-secyt.sf-depth-1.active{
    background-color:#00758b;
    color: #ffffff;
}
a.link-extension.sf-depth-1.active{
    background-color:#801646;
    color: #ffffff;
}
a.link-vida-estudiantil.sf-depth-1.active{
    background-color:#a41d34;
    color: #ffffff;
}
a.link-gestion.sf-depth-1.active{
    background-color:#3a612c;
    color: #ffffff;
}
a.link-planificacion.sf-depth-1.active{
    background-color:#3a612c;
    color: #ffffff;
}

.sf-menu.sf-horizontal.sf-shadow ul, .sf-menu.sf-vertical.sf-shadow ul, .sf-menu.sf-navbar.sf-shadow ul ul{
    background-image:none;
    background-color:#ffffff;
}

/*2DO NIVEL */
.menu-ambiente-2nivel li> a{
    border-right-width: 0;
}

.menu-ambiente-2nivel li.menuparent a:hover{
    background-color:#0071b4;
    color:#ffffff;
}

.menu-ambiente-2nivel li.menuparent span:hover{
    background-color:#0071b4;
    color:#ffffff;
}

.sf-menu ul {
    background-color: white;
}


/* ---------  PANEL HOME ----------- */

/*VISTA TIRA DE BANNERS*/

#tira-banners{
margin-bottom: 120px;
}

#tira-banners .view-vista-tira-banners {
    margin-right: 70px;
    margin-left: 40px;
}


/*
div.owl-carousel-block_19 div.owl-wrapper:first-child {
    margin-left: 0;
}
*/
.owl-carousel-block_19 .owl-item {
width: 200px !important;
}

.owl-carousel-block_19 .owl-wrapper {
margin-left: 58px;
}

.owl-carousel-block_19 .owl-controls.clickable {
margin-top: -70px;
}

.owl-carousel-block_19 .owl-controls.clickable .owl-prev {
    float: left;
    background-image: url("../images/izquierda.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0;
    margin-left: -15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    opacity: 1;
    background-size: 37px 65px;
    font-size: 1px;
}

.owl-carousel-block_19 .owl-controls.clickable .owl-next {
    float: right;
    background-image: url("../images/derecha.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0;
    margin-right: -90px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    background-size: 37px 65px;
    font-size: 1px;
}

.owl-carousel-block_19 .owl-theme .owl-controls {
    margin-left: -70px;
    margin-right: -70px;
}
.owl-carousel-block_19 .owl-item img {
width: 170px;
}

/*SLIDER*/
.field-content.unc-slider{
    position: absolute;
    top: 169px;
    background-color: #74bde9;
    padding-top: 32px;
    padding-bottom: 28px;
    padding-right: 24px;
    padding-left: 84px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    font-weight: bold;
    font-size:26px;
    color:#0C3C6D;
    background-image: url("../images/icono_titular.png");
    background-repeat: no-repeat;
    background-size: 52px 42px;
    background-position-y: 32px;
    background-position-x: 18px;
    width: 500px;
}
.field-content.unc-slider a{
    color:#0C3C6D;
    text-decoration: none;
}

.view-vista-slider-noticias #flexslider-1 ul.flex-direction-nav{
    display:none;
}

.view-vista-slider-noticias #flexslider-1 ol.flex-control-nav.flex-control-paging{
    text-align: right;
}

.view-vista-slider-noticias #flexslider-1 ol.flex-control-nav.flex-control-paging a{
    text-align: center;
}
.view-vista-slider-noticias #flexslider-1{
    margin-bottom: 40px;
}

.flex-control-paging li a.flex-active {
    background: #c4e2f7;
    background: rgb(230, 242, 253);
}
.flex-control-paging li a:hover{
    background: #c4e2f7;
}
.flex-control-paging li a{
    background: rgba(134, 151, 145,1);
}

/* Vista Tira Noticias */
.pane-vista-tira-noticias {
    background: #E6F2FD;
    font-size: 11px;
}

.view.view-vista-tira-noticias.view-id-vista_tira_noticias.view-display-id-block_1 {
    margin-bottom: 40px;
}
.view-id-vista_tira_noticias .owl-item {
    margin: 15px 0 0 0;
    padding: 0 15px;
}
.view-id-vista_tira_noticias .owl-item .carousel-caption {
    padding: 0;
    position: relative;
    text-shadow: none;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 13px;
    font-weight: bold;
    text-align: left;
}
.view-id-vista_tira_noticias .owl-theme .owl-controls{
    text-align:right;
}
.view-id-vista_tira_noticias .owl-pagination{
    margin-right: 8px;
}

/*vista videos*/
.nav-tabs.nav-justified > li > a{
    border-bottom: none;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{
 border:0;
 background-color: #ddd; 
}
.panel-pane.pane-views.pane-vista-videos h2.pane-title{
    text-indent: -9000px;
    background-image: url("../images/faja-audiovisual.png");
    background-size: 300px 40px;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 100px;
    margin-bottom: 40px;
}
/*vista servicios*/
.panel-pane.pane-views.pane-vista-tira-banners.vista-servicios .views-field.views-field-field-banner{
    margin-bottom: 10px;
/*    margin-right: 30px;
    width: 265px;*/
}

.panel-pane.pane-views.pane-vista-tira-banners.vista-servicios h2.pane-title{
    text-indent: -9000px;
    background-image: url("../images/faja-servicios.png");
    background-size: 160px 40px;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 100px;
    margin-bottom: 40px;
}

.banner-servicios {
    margin-bottom: 10px;
}

/*---VISTA NOVEDADES-----*/
.bootstrap-unc-home .pane-vista-novedades h2{
    background-image: url("../images/faja-novedades.png");
    background-repeat: no-repeat;
    background-size: 193px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 100px;
    margin-bottom: 40px;
}

.view-id-vista_novedades ul {
    padding-left: 0px;
}

.view-id-vista_novedades li {
    background-color: #f5fafe;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.view-id-vista_novedades li:hover {
    background-color: #E6F2FD;
}

.view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #337ab7;
    text-decoration: none;
}

/*-----VISTA EVENTOS HOME-------*/
.pane-vista-eventos h2{
    background-image: url("../images/faja-agenda.png");
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 10%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.view-id-vista_eventos .fecha-agenda {
    background-color: #9fd2f1;
    color: #ffffff;
    width: 67px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    text-transform: lowercase;
    float: left;
}

.view-id-vista_eventos .fecha-agenda:hover {
    background-color: #90278e;
}

/*
.view-id-vista_eventos table {
    width: 100%;
}

.view-id-vista_eventos table td {
    width: 50%;
    height: 50px;
    background-color: #f5fafe;
    margin-bottom: 5px;
}

.view-id-vista_eventos table tr:nth-child(odd) {
    background-color: #f5fafe;
}

.view-id-vista_eventos table tr:nth-child(even) {
    background-color: #FFFFFF;
}

.view-id-vista_eventos table td.col-1.col-first{
    border-right: 30px solid #ffffff;
}
*/
.titulo-agenda:nth-child(odd){
    padding-top: 16px;
    background-color: #f5fafe;
    padding-bottom: 16px;
}

.titulo-agenda:nth-child(even){
    padding-top: 16px;
    background-color: #FFFFFF;
    padding-bottom: 16px;
}

.titulo-agenda a{
    margin-left: 15px;
    color: #222222;
}

.titulo-agenda a:hover{
    color: #337ab7;
    text-decoration: none;
}

.pane-vista-eventos {
    margin-bottom: 40px;
}

/*-----SECCION CONTACTO-------*/
.pane-vista-contacto h2{
    background-image: url("../images/faja-contactos.png");
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 100px;
    margin-bottom: 40px;
}

.mapa-contacto {
    background-color: #f5fafe;
    float: left;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    margin-right: 30px;
}

/* ----------- FOOTER ---------------*/

.footer {
    border-top: 1.5px solid #005288;
}
.footer-unc{
    width: 371px;
    height: 61px;
    background-image: url(../images/logo_footer.png);
    background-position: 0px;
    background-size: 371px 61px;
    background-repeat: no-repeat;
    margin: auto;
}

/*-----------MENU REDES SOCIALES--------*/
.redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 74px;
    z-index: 99999;
}
.redes-sociales img {
    margin-bottom: 4px;
    width: 50px;
    height: 50px;
}

/*----------PERFILES------------*/
/*margen comun para todos los perfiles*/
.page-taxonomy-term-1 h1.page-header{/*estudiantes*/
    display:none;
}
.page-taxonomy-term-9 h1.page-header{/*comunidad*/
    display:none;
}
.page-taxonomy-term-4 h1.page-header{/*docentes*/
    display:none;
}
.page-taxonomy-term-8 h1.page-header{/*extranjeros*/
    display:none;
}
.page-taxonomy-term-6 h1.page-header{/*graduados*/
    display:none;
}
.page-taxonomy-term-7 h1.page-header{/*ingresantes*/
    display:none;
}
.page-taxonomy-term-5 h1.page-header{/*nodocentes*/
    display:none;
}
.node-type-page h1.page-header{/*nodos panelizados*/
    display:none;
}

.node-type-noticia h1.page-header{/*nodos panelizados*/
    display:none;
}

.node-type-evento h1.page-header{/*nodos panelizados*/
    display:none;
}

.node-type-convocatoria h1.page-header{/*nodos panelizados*/
    display:none;
}

.view.view-vista-cintas-desplegables.view-id-vista_cintas_desplegables.view-display-id-default{
    margin-bottom: 37px;
}

/*estudiantes = term 1*/
.page-taxonomy-term-1 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(173, 36, 43,0.1);/*#AD242B con 10% de opacidad*/
    background-image:url(../images/perfil_estudiantes.png);
    background-repeat:no-repeat;
    background-size:232px 31px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-1 .field-content.unc-slider {
    background-color:rgba(173, 36, 43,0.9);/*#AD242B con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-1 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-1 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(173, 36, 43,0.1);/*#AD242B con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-1 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-1 .flex-control-paging li a.flex-active {
    background: rgba(173, 36, 43,0.1); /*#AD242B con 10% de opacidad*/
}
.page-taxonomy-term-1 .flex-control-paging li a:hover{
    background: rgba(173, 36, 43,0.1); /*#AD242B con 10% de opacidad*/
}
.page-taxonomy-term-1 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-1 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-1 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(173, 36, 43,0.1);/*#AD242B con 10% de opacidad*/;
}

.page-taxonomy-term-1 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-1 .view-id-vista_novedades li.views-row a:hover{
    color:#AD242B;
    
}

/*ingresantes = term 7*/
.page-taxonomy-term-7 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(167, 85, 14,0.1);/*#a7550e con 10% de opacidad*/
    background-image:url(../images/perfil_ingresantes.png);
    background-repeat:no-repeat;
    background-size:447px 45px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-7 .field-content.unc-slider {
    background-color:rgba(167, 85, 14,0.9);/*#a7550e con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-7 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-7 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(167, 85, 14,0.1);/*#a7550e con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-7 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-7 .flex-control-paging li a.flex-active {
    background: rgba(167, 85, 14,0.1); /*#a7550e con 10% de opacidad*/
}
.page-taxonomy-term-7 .flex-control-paging li a:hover{
    background: rgba(167, 85, 14,0.1); /*#a7550e con 10% de opacidad*/
}
.page-taxonomy-term-7 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-7 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-7 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(167, 85, 14,0.1);/*#a7550e con 10% de opacidad*/;
}

.page-taxonomy-term-7 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-7 .view-id-vista_novedades li.views-row a:hover{
    color:#a7550e;
}

/*docentes e investigadores = term 4*/
.page-taxonomy-term-4 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(21, 104, 144,0.1);/*#156890 con 10% de opacidad*/
    background-image:url(../images/perfil_docentesi.png);
    background-repeat:no-repeat;
    background-size:437px 45px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-4 .field-content.unc-slider {
    background-color:rgba(21, 104, 144,0.9); /*#156890 con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-4 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-4 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(21, 104, 144,0.1);/*#156890 con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-4 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-4 .flex-control-paging li a.flex-active {
    background: rgba(21, 104, 144,0.1); /*#156890 con 10% de opacidad*/
}
.page-taxonomy-term-4 .flex-control-paging li a:hover{
    background: rgba(21, 104, 144,0.1); /*#156890 con 10% de opacidad*/
}
.page-taxonomy-term-4 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(21, 104, 144,0.1);/*#156890 con 10% de opacidad*/;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row a:hover{
    color:#156890;
}

/* = term 4*/
.page-taxonomy-term-4 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(21, 104, 144,0.1);/*#156890 con 10% de opacidad*/
    background-image:url(../images/perfil_docentesi.png);
    background-repeat:no-repeat;
    background-size:437px 45px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-4 .field-content.unc-slider {
    background-color:rgba(21, 104, 144,0.9); /*#156890 con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-4 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-4 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(21, 104, 144,0.1);/*#156890 con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-4 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-4 .flex-control-paging li a.flex-active {
    background: rgba(21, 104, 144,0.1); /*#156890 con 10% de opacidad*/
}
.page-taxonomy-term-4 .flex-control-paging li a:hover{
    background: rgba(21, 104, 144,0.1); /*#156890 con 10% de opacidad*/
}
.page-taxonomy-term-4 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(21, 104, 144,0.1);/*#156890 con 10% de opacidad*/;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-4 .view-id-vista_novedades li.views-row a:hover{
    color:#156890;
}

/*nodocentes = term 5*/
.page-taxonomy-term-5 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(44, 134, 86,0.1);/*#2c8656 con 10% de opacidad*/
    background-image:url(../images/perfil_nodocentes.png);
    background-repeat:no-repeat;
    background-size:437px 45px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-5 .field-content.unc-slider {
    background-color:rgba(44, 134, 86,0.9); /*#2c8656 con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-5 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-5 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(44, 134, 86,0.1);/*#2c8656 con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-5 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-5 .flex-control-paging li a.flex-active {
    background: rgba(44, 134, 86,0.1); /*#2c8656 con 10% de opacidad*/
}
.page-taxonomy-term-5 .flex-control-paging li a:hover{
    background: rgba(44, 134, 86,0.1); /*#2c8656 con 10% de opacidad*/
}
.page-taxonomy-term-5 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-5 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-5 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(44, 134, 86,0.1);/*#2c8656 con 10% de opacidad*/;
}

.page-taxonomy-term-5 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-5 .view-id-vista_novedades li.views-row a:hover{
    color:#2c8656;
}

/*graduados = term 6*/
.page-taxonomy-term-6 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(0, 103, 94,0.1);/*#00675e con 10% de opacidad*/
    background-image:url(../images/perfil_graduados.png);
    background-repeat:no-repeat;
    background-size:437px 45px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-6 .field-content.unc-slider {
    background-color:rgba(0, 103, 94,0.9); /*#00675e con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-6 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-6 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(0, 103, 94,0.1);/*00675e con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-6 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-6 .flex-control-paging li a.flex-active {
    background: rgba(0, 103, 94,0.1); /*#00675e con 10% de opacidad*/
}
.page-taxonomy-term-6 .flex-control-paging li a:hover{
    background: rgba(0, 103, 94,0.1); /*#00675e con 10% de opacidad*/
}
.page-taxonomy-term-6 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-6 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-6 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(0, 103, 94,0.1);/*#2c8656 con 10% de opacidad*/;
}

.page-taxonomy-term-6 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-6 .view-id-vista_novedades li.views-row a:hover{
    color:#00675e;
}

/*extranjeros = term 8*/
.page-taxonomy-term-8 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(153, 25, 79,0.1);/*#99194f con 10% de opacidad*/
    background-image:url(../images/perfil_extranjeros.png);
    background-repeat:no-repeat;
    background-size:437px 45px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-8 .field-content.unc-slider {
    background-color:rgba(153, 25, 79,0.9); /*#99194f con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-8 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-8 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(153, 25, 79,0.1);/*99194f con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-8 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-8 .flex-control-paging li a.flex-active {
    background: rgba(153, 25, 79,0.1); /*#99194f con 10% de opacidad*/
}
.page-taxonomy-term-8 .flex-control-paging li a:hover{
    background: rgba(153, 25, 79,0.1); /*#00675e con 10% de opacidad*/
}
.page-taxonomy-term-8 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-8 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-8 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(153, 25, 79,0.1);/*#2c8656 con 10% de opacidad*/;
}

.page-taxonomy-term-8 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-8 .view-id-vista_novedades li.views-row a:hover{
    color:#99194f;
}

/*comunidad = term 9*/
.page-taxonomy-term-9 h1.page-header-perfil{
    background-position-x: 95px;
    background-position-y: 15px;
    background-color:rgba(91, 53, 113,0.1);/*#5b3571 con 10% de opacidad*/
    background-image:url(../images/perfil_comunidad.png);
    background-repeat:no-repeat;
    background-size:437px 45px;
    text-indent:-9999px;
    height:60px;
    margin-bottom: 10px;
}

.page-taxonomy-term-9 .field-content.unc-slider {
    background-color:rgba(91, 53, 113,0.9); /*#5b3571 con 10% de opacidad*/
    background-image: url("../images/titular_blanco.png");
}

.page-taxonomy-term-9 .field-content.unc-slider a {
    color:#ffffff;
}

.page-taxonomy-term-9 .pane-vista-cintas-desplegables .panel-default .panel-heading {
    background-color:rgba(91, 53, 113,0.1);/*5b3571 con 10% de opacidad*/
    height:43px;
    border:0px solid;
    border-top-left-radius:0px;
    border-top-right-radius:0px;
}

.page-taxonomy-term-9 .pane-vista-cintas-desplegables .panel-group .panel{
    border-radius: 0;
    border: 0px solid;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-bottom: 10px;
}

.page-taxonomy-term-9 .flex-control-paging li a.flex-active {
    background: rgba(91, 53, 113,0.1); /*#00675e con 10% de opacidad*/
}
.page-taxonomy-term-9 .flex-control-paging li a:hover{
    background: rgba(91, 53, 113,0.1); /*#00675e con 10% de opacidad*/
}
.page-taxonomy-term-9 .flex-control-paging li a{
    background: #BEBDBE;
    width: 10px;
    height: 10px;
}

.page-taxonomy-term-9 .view-id-vista_novedades li.views-row{
    background-color: #dddcdc;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-taxonomy-term-9 .view-id-vista_novedades li.views-row:hover {
    background-color: rgba(91, 53, 113,0.1);/*#5b3571 con 10% de opacidad*/;
}

.page-taxonomy-term-9 .view-id-vista_novedades li.views-row a{
    width: 100%;
}

.page-taxonomy-term-9 .view-id-vista_novedades li.views-row a:hover{
    color:#5b3571;
}

/*****************************************************/
/********* VISTA AMBIENTE INTERNACIONALES ************/
/*****************************************************/

/*SLIDER NOTICIAS*/
.page-node-21 .pane-vista-slider-noticias h2{
background-image: url("../images/internacionales-nombre.png");
background-repeat: no-repeat;
background-size: 410px 80px;
text-indent: -9000px;
height: 80px;
background-position-x: 115px;
margin-bottom: 15px;
/*el color es #0071b4*/
background-color: rgba(0, 113, 180,0.15);
background-position-y: 5px;
}

/*MENU REDES SOCIALES*/
.page-node-21 .redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 119px;
    z-index: 99999;
}


/*TIRA DE BANNERS*/
.page-node-21 .pane-vista-tira-banners{
margin-bottom: 50px;
margin-top: 20px;
}


/*VISTA NOVEVDADES*/
.page-node-21 .pane-vista-novedades h2{
    background-image: url("../images/actividades_y_destacados.png");
    background-repeat: no-repeat;
    background-size: 284px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 100px;
    margin-bottom: 30px;
}

.page-node-21 .view-id-vista_novedades ul {
    padding-left: 0px;
}

.page-node-21 .view-id-vista_novedades li {
    background-color: rgba(0, 113, 180,0.1);
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-node-21 .view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.page-node-21 .view-id-vista_novedades li:hover {
    background-color: rgba(0, 113, 180,0.2);
}

.page-node-21 .view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #0071b4;
    text-decoration: none;
}


/*VISTA VIDEOS*/
.page-node-21 .pane-vista-videos .view-id-vista_videos{
    margin-top: 88px;
}

/* VISTA MULTIMEDIA*/
.page-node-21 .pane-vista-multimedia-ambiente{
margin-top: 55px;
}


/*VISTA AGENDA*/
.page-node-21 .pane-vista-eventos{
margin-top: 55px;
}

.page-node-21 .titulo-agenda:nth-child(odd) {
    padding-top: 16px;
    background-color: #f5fafe;
    padding-bottom: 16px;
    margin-bottom: 10px;
}

.page-node-21 .titulo-agenda a:hover{
    color: #0071b4;
    text-decoration: none;
}

.page-node-21 .view-id-vista_eventos .fecha-agenda {
    background-color: #0071b4;
}

/*VISTA CONTACTO*/
.page-node-21 .pane-vista-contacto-ambiente{
margin-top: 55px;
}

.page-node-21 .pane-vista-contacto-ambiente h2{
    background-image: url("../images/contacto-internacionales.png");
    background-repeat: no-repeat;
    background-size: 148px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 13px;
    margin-bottom: 30px;
}

.page-node-21 .field-content.unc-slider{
background-color: rgba(116, 173, 225,0.8);
background-image: url("../images/icono_titular-blanco.png");
}

.page-node-21 .field-content.unc-slider a {
color: #FFFFFF;
}


/*FIN AMBIENTE*/


/*****************************************************/
/********* VISTA AMBIENTE VIDA ESTUDIANTIL ************/
/*****************************************************/

/*SLIDER NOTICIAS*/
.page-node-18 .pane-vista-slider-noticias h2{
background-image: url("../images/ambiente-vidaestudiantil-nombre.png");
background-repeat: no-repeat;
background-size: 352px 80px;
text-indent: -9000px;
height: 80px;
background-position-x: 115px;
margin-bottom: 15px;
/*el color es #A41D34*/
background-color: rgba(164, 29, 52, 0.15);
background-position-y: 5px;
}

.page-node-18 .field-content.unc-slider{
background-color: rgba(164, 29, 52,0.8);
background-image: url("../images/icono_titular-blanco.png");
}

.page-node-18 .field-content.unc-slider a {
color: #FFFFFF;
}


/*MENU REDES SOCIALES*/
.page-node-18 .redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 119px;
    z-index: 99999;
}

/*TIRA DE BANNERS*/
.page-node-18 .pane-vista-tira-banners{
margin-bottom: 50px;
margin-top: 20px;
}


/*VISTA NOVEVDADES*/
.page-node-18 .pane-vista-novedades h2{
    background-image: url("../images/ambiente-vidaestudiantil-otrasnovedades.png");
    background-repeat: no-repeat;
    background-size: 284px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 100px;
    margin-bottom: 30px;
}

.page-node-18 .view-id-vista_novedades ul {
    padding-left: 0px;
}

.page-node-18 .view-id-vista_novedades li {
    background-color: rgba(164, 29, 52,0.1);
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-node-18 .view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.page-node-18 .view-id-vista_novedades li:hover {
    background-color: rgba(164, 29, 52,0.2);
}

.page-node-18 .view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #a41d34;
    text-decoration: none;
}


/*VISTA VIDEOS*/
.page-node-18 .pane-vista-videos .view-id-vista_videos{
    margin-top: 88px;
}

/* VISTA MULTIMEDIA*/
.page-node-18 .pane-vista-multimedia-ambiente{
margin-top: 55px;
}


/*VISTA AGENDA*/
.page-node-18 .pane-vista-eventos{
margin-top: 55px;
}

.page-node-18 .titulo-agenda:nth-child(odd) {
    padding-top: 16px;
    background-color: rgba(164, 29, 52,0.1);
    padding-bottom: 16px;
    margin-bottom: 10px;
}


.page-node-18 .titulo-agenda a:hover{
    color: #A41D34;
    text-decoration: none;
}

.page-node-18 .view-id-vista_eventos .fecha-agenda {
    background-color: #A41D34;
}

/*VISTA CONTACTO*/
.page-node-18 .pane-vista-contacto-ambiente{
margin-top: 55px;
}

.page-node-18 .pane-vista-contacto-ambiente h2{
    background-image: url("../images/ambiente-vidaestudiantil-contacto.png");
    background-repeat: no-repeat;
    background-size: 148px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 13px;
    margin-bottom: 30px;
}


/*FIN AMBIENTE*/



/*****************************************************/
/********* VISTA AMBIENTE GESTION INSTITUCIONAL ************/
/*****************************************************/

/*SLIDER NOTICIAS*/
.page-node-19 .pane-vista-slider-noticias h2{
background-image: url("../images/gestion-institucional-nombre.png");
background-repeat: no-repeat;
background-size: 352px 80px;
text-indent: -9000px;
height: 80px;
background-position-x: 115px;
margin-bottom: 15px;
/*el color es #3A612E*/
background-color: rgba(58, 97, 46, 0.15);
background-position-y: 5px;
}

.page-node-19 .field-content.unc-slider{
background-color: rgba(164, 29, 52,0.8);
background-image: url("../images/icono_titular-blanco.png");
}

.page-node-19 .field-content.unc-slider a {
color: #FFFFFF;
}

/*MENU REDES SOCIALES*/
.page-node-19 .redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 119px;
    z-index: 99999;
}

/*TIRA DE BANNERS*/
.page-node-19 .pane-vista-tira-banners{
margin-bottom: 50px;
margin-top: 20px;
}


/*VISTA NOVEVDADES*/
.page-node-19 .pane-vista-novedades h2{
    background-image: url("../images/gestion-novedades-legislativas.png");
    background-repeat: no-repeat;
    background-size: 284px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 100px;
    margin-bottom: 30px;
}

.page-node-19 .view-id-vista_novedades ul {
    padding-left: 0px;
}

.page-node-19 .view-id-vista_novedades li {
    background-color: rgba(164, 29, 52,0.1);
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-node-19 .view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.page-node-19 .view-id-vista_novedades li:hover {
    background-color: rgba(164, 29, 52,0.2);
}

.page-node-19 .view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #3A612E;
    text-decoration: none;
}


/*VISTA VIDEOS*/
.page-node-19 .pane-vista-videos .view-id-vista_videos{
    margin-top: 88px;
}

/* VISTA MULTIMEDIA*/
.page-node-19 .pane-vista-multimedia-ambiente{
margin-top: 55px;
}


/*VISTA AGENDA*/
.page-node-19 .pane-vista-eventos{
margin-top: 55px;
}

.page-node-19 .titulo-agenda:nth-child(odd) {
    padding-top: 16px;
    background-color: rgba(164, 29, 52,0.1);
    padding-bottom: 16px;
    margin-bottom: 10px;
}

.page-node-19 .titulo-agenda a:hover{
    color: #3A612E;
    text-decoration: none;
}

.page-node-19 .view-id-vista_eventos .fecha-agenda {
    background-color: #3A612E;
}


/*VISTA CONTACTO*/
.page-node-19 .pane-vista-contacto-ambiente{
margin-top: 55px;
}

.page-node-19 .pane-vista-contacto-ambiente h2{
/*FALTA FAJA DE CONTACTO DE GESTION*/
    background-image: url("../images/ambiente-vidaestudiantil-contacto.png");
    background-repeat: no-repeat;
    background-size: 148px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 13px;
    margin-bottom: 30px;
}


/*FIN AMBIENTE*/


/*****************************************************/
/********* VISTA AMBIENTE CIENCIA Y TECNOLOGIA ************/
/*****************************************************/

/*SLIDER NOTICIAS*/
.page-node-16 .pane-vista-slider-noticias h2{
background-image: url("../images/ambiente-cyt-nombre.png");
background-repeat: no-repeat;
background-size: 352px 80px;
text-indent: -9000px;
height: 80px;
background-position-x: 115px;
margin-bottom: 15px;
/*el color es #00758b*/
background-color: rgba(0, 117, 139,0.15);
background-position-y: 5px;
}

.page-node-16 .field-content.unc-slider{
background-color: rgba(0, 117, 139,0.8);
background-image: url("../images/icono_titular-blanco.png");
}

.page-node-16 .field-content.unc-slider a {
color: #FFFFFF;
}

/*MENU REDES SOCIALES*/
.page-node-16 .redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 119px;
    z-index: 99999;
}

/*TIRA DE BANNERS*/
.page-node-16 .pane-vista-tira-banners{
margin-bottom: 50px;
margin-top: 20px;
}


/*VISTA NOVEVDADES*/
.page-node-16 .pane-vista-novedades h2{
    background-image: url("../images/ambiente-cyt-ultimas-noticias.png");
    background-repeat: no-repeat;
    background-size: 284px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 100px;
    margin-bottom: 30px;
}

.page-node-16 .view-id-vista_novedades ul {
    padding-left: 0px;
}

.page-node-16 .view-id-vista_novedades li {
    background-color: rgba(0, 117, 139,0.1);
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-node-16 .view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.page-node-16 .view-id-vista_novedades li:hover {
    background-color: rgba(0, 117, 139,0.2);
}

.page-node-16 .view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #0071b4;
    text-decoration: none;
}


/*VISTA VIDEOS*/
.page-node-16 .pane-vista-videos .view-id-vista_videos{
    margin-top: 88px;
}

/* VISTA MULTIMEDIA*/
.page-node-16 .pane-vista-multimedia-ambiente{
margin-top: 55px;
}


/*VISTA AGENDA*/
.page-node-16 .pane-vista-eventos{
margin-top: 55px;
}

.page-node-16 .titulo-agenda:nth-child(odd) {
    padding-top: 16px;
    background-color: rgba(0, 117, 139,0.1);
    padding-bottom: 16px;
    margin-bottom: 10px;
}

.page-node-16 .titulo-agenda a:hover{
    color: #00758b;
    text-decoration: none;
}

.page-node-16 .view-id-vista_eventos .fecha-agenda {
    background-color: #00758b;
}


/*VISTA CONTACTO*/
.page-node-16 .pane-vista-contacto-ambiente{
margin-top: 55px;
}

.page-node-16 .pane-vista-contacto-ambiente h2{
/*FALTA FAJA DE CONTACTO DE GESTION*/
    background-image: url("../images/ambiente-cyt-contacto.png");
    background-repeat: no-repeat;
    background-size: 148px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 13px;
    margin-bottom: 30px;
}


/*FIN AMBIENTE*/


/*****************************************************/
/********* VISTA AMBIENTE ACADEMICAS ************/
/*****************************************************/

/*SLIDER NOTICIAS*/
.page-node-15 .pane-vista-slider-noticias h2{
background-image: url("../images/ambiente-cyt-nombre.png");
background-repeat: no-repeat;
background-size: 352px 80px;
text-indent: -9000px;
height: 80px;
background-position-x: 115px;
margin-bottom: 15px;
/*el color es #af6627*/
background-color: rgba(175, 102, 39,0.15);
background-position-y: 5px;
}

.page-node-15 .field-content.unc-slider{
background-color: rgba(175, 102, 39,0.8);
background-image: url("../images/icono_titular-blanco.png");
}

.page-node-15 .field-content.unc-slider a {
color: #FFFFFF;
}

/*MENU REDES SOCIALES*/
.page-node-15 .redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 119px;
    z-index: 99999;
}

/*TIRA DE BANNERS*/
.page-node-15 .pane-vista-tira-banners{
margin-bottom: 50px;
margin-top: 20px;
}


/*VISTA NOVEVDADES*/
.page-node-15 .pane-vista-novedades h2{
    background-image: url("../images/ambiente-cyt-ultimas-noticias.png");
    background-repeat: no-repeat;
    background-size: 284px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 100px;
    margin-bottom: 30px;
}

.page-node-15 .view-id-vista_novedades ul {
    padding-left: 0px;
}

.page-node-15 .view-id-vista_novedades li {
    background-color: rgba(175, 102, 39,0.1);
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-node-15 .view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.page-node-15 .view-id-vista_novedades li:hover {
    background-color: rgba(175, 102, 39,0.2);
}

.page-node-15 .view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #af6627;
    text-decoration: none;
}


/*VISTA VIDEOS*/
.page-node-15 .pane-vista-videos .view-id-vista_videos{
    margin-top: 88px;
}

/* VISTA MULTIMEDIA*/
.page-node-15 .pane-vista-multimedia-ambiente{
margin-top: 55px;
}


/*VISTA AGENDA*/
.page-node-15 .pane-vista-eventos{
margin-top: 55px;
}

.page-node-15 .titulo-agenda:nth-child(odd) {
    padding-top: 16px;
    background-color: rgba(175, 102, 39,0.1);
    padding-bottom: 16px;
    margin-bottom: 10px;
}

.page-node-15 .titulo-agenda a:hover{
    color: #af6627;
    text-decoration: none;
}

.page-node-15 .view-id-vista_eventos .fecha-agenda {
    background-color: #af6627;
}

/*VISTA CONTACTO*/
.page-node-15 .pane-vista-contacto-ambiente{
margin-top: 55px;
}

.page-node-15 .pane-vista-contacto-ambiente h2{
/*FALTA FAJA DE CONTACTO DE GESTION*/
    background-image: url("../images/ambiente-cyt-contacto.png");
    background-repeat: no-repeat;
    background-size: 148px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 13px;
    margin-bottom: 30px;
}


/*FIN AMBIENTE*/


/*****************************************************/
/********* VISTA AMBIENTE EXTENSION ************/
/*****************************************************/

/*SLIDER NOTICIAS*/
.page-node-17 .pane-vista-slider-noticias h2{
background-image: url("../images/extension_ambiente_titulo.png");
background-repeat: no-repeat;
background-size: 362px 57px;
text-indent: -9000px;
height: 80px;
background-position-x: 100px;
margin-bottom: 15px;
/*el color es #801646*/
background-color: rgba(128, 22, 70,0.15);
background-position-y: 10px;
}

.page-node-17 .field-content.unc-slider{
background-color: rgba(128, 22, 70,0.8);
background-image: url("../images/icono_titular-blanco.png");
}

.page-node-17 .field-content.unc-slider a {
color: #FFFFFF;
}

/*MENU REDES SOCIALES*/
.page-node-17 .redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 119px;
    z-index: 99999;
}

/*TIRA DE BANNERS*/
.page-node-17 .pane-vista-tira-banners{
margin-bottom: 50px;
margin-top: 20px;
}


/*VISTA NOVEVDADES*/
.page-node-17 .pane-vista-novedades h2{
    background-image: url("../images/ambiente-cyt-ultimas-noticias.png");
    background-repeat: no-repeat;
    background-size: 284px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 100px;
    margin-bottom: 30px;
}

.page-node-17 .view-id-vista_novedades ul {
    padding-left: 0px;
}

.page-node-17 .view-id-vista_novedades li {
    background-color: rgba(128, 22, 70,0.1);
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-node-17 .view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.page-node-17 .view-id-vista_novedades li:hover {
    background-color: rgba(128, 22, 70,0.2);
}

.page-node-17 .view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #801646;
    text-decoration: none;
}


/*VISTA VIDEOS*/
.page-node-17 .pane-vista-videos .view-id-vista_videos{
    margin-top: 88px;
}

/* VISTA MULTIMEDIA*/
.page-node-17 .pane-vista-multimedia-ambiente{
margin-top: 55px;
}


/*VISTA AGENDA*/
.page-node-17 .pane-vista-eventos{
margin-top: 55px;
}

.page-node-17 .titulo-agenda:nth-child(odd) {
    padding-top: 16px;
    background-color: rgba(128, 22, 70,0.1);
    padding-bottom: 16px;
    margin-bottom: 10px;
}

.page-node-17 .titulo-agenda a:hover{
    color: #801646;
    text-decoration: none;
}


.page-node-17 .view-id-vista_eventos .fecha-agenda {
    background-color: #801646;
}

/*VISTA CONTACTO*/
.page-node-17 .pane-vista-contacto-ambiente{
margin-top: 55px;
}

.page-node-17 .pane-vista-contacto-ambiente h2{
/*FALTA FAJA DE CONTACTO DE GESTION*/
    background-image: url("../images/ambiente-cyt-contacto.png");
    background-repeat: no-repeat;
    background-size: 148px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 13px;
    margin-bottom: 30px;
}


/*FIN AMBIENTE*/



/*****************************************************/
/********* VISTA AMBIENTE comunicacion ************/
/*****************************************************/

/*SLIDER NOTICIAS*/
.page-node-22 .pane-vista-slider-noticias h2{
background-image: url("../images/Comunicacion_cabecera.png");
background-repeat: no-repeat;
background-size: 362px 57px;
text-indent: -9000px;
height: 80px;
background-position-x: 100px;
margin-bottom: 15px;
/*el color es #538D3F*/
background-color: rgba(83, 141, 63,0.15);
background-position-y: 10px;
}

.page-node-22 .field-content.unc-slider{
background-color: rgba(83, 141, 63,0.8);
background-image: url("../images/icono_titular-blanco.png");
}

.page-node-22 .field-content.unc-slider a {
color: #FFFFFF;
}

/*MENU REDES SOCIALES*/
.page-node-22 .redes-sociales{
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 119px;
    z-index: 99999;
}

/*TIRA DE BANNERS*/
.page-node-22 .pane-vista-tira-banners{
margin-bottom: 50px;
margin-top: 20px;
}


/*VISTA NOVEVDADES*/
.page-node-22 .pane-vista-novedades h2{
    background-image: url("../images/Comunicacion_Novedades.png");
    background-repeat: no-repeat;
    background-size: 284px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 100px;
    margin-bottom: 30px;
}

.page-node-22 .view-id-vista_novedades ul {
    padding-left: 0px;
}

.page-node-22 .view-id-vista_novedades li {
    background-color: rgba(83, 141, 63,0.1);
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.page-node-22 .view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.page-node-22 .view-id-vista_novedades li:hover {
    background-color: rgba(83, 141, 63,0.2);
}

.page-node-22 .view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #538d3f;
    text-decoration: none;
}


/*VISTA VIDEOS*/
.page-node-22 .pane-vista-videos .view-id-vista_videos{
    margin-top: 88px;
}

/* VISTA MULTIMEDIA*/
.page-node-22 .pane-vista-multimedia-ambiente{
margin-top: 55px;
}


/*VISTA AGENDA*/
.page-node-22 .pane-vista-eventos{
margin-top: 55px;
}

.page-node-22 .titulo-agenda:nth-child(odd) {
    padding-top: 16px;
    background-color: rgba(83, 141, 63,0.1);
    padding-bottom: 16px;
    margin-bottom: 10px;
}

.page-node-22 .titulo-agenda a:hover{
    color: #538d3f;
    text-decoration: none;
}


.page-node-22 .view-id-vista_eventos .fecha-agenda {
    background-color: #538d3f;
}

/*VISTA CONTACTO*/
.page-node-22 .pane-vista-contacto-ambiente{
margin-top: 55px;
}

.page-node-22 .pane-vista-contacto-ambiente h2{
    background-image: url("../images/Comunicacion_Contacto.png");
    background-repeat: no-repeat;
    background-size: 148px 38px;
    text-indent: -9000px;
    height: 38px;
    background-position-x: 13px;
    margin-bottom: 30px;
}


/*FIN AMBIENTE*/





/* --------------- AMBIENTE AGENDA -------------- */

.page-node-26 h1.page-header-agenda{
background-image: url("../images/agenda.png");
background-repeat: no-repeat;
background-size: 180px 36px;
text-indent: -9000px;
height: 60px;
background-position-x: 95px;
margin-bottom: 15px;
background-color: #eaeaea;
background-position-y: 15px;
}

.titulo-agenda-slider {
    position: absolute;
    top: 169px;
    background-color: rgba(195, 13, 39, 0.8); /* color #C30D27 opacidad 0,8*/
    padding-top: 32px;
    padding-bottom: 28px;
    padding-right: 24px;
    padding-left: 84px;
    font-weight: bold;
    font-size: 26px;
    color: #ffffff;
    background-image: url(../images/icono_titular-blanco.png);
    background-repeat: no-repeat;
    background-size: 52px 42px;
    background-position-y: 32px;
    background-position-x: 18px;
    width: 500px;
}

.titulo-agenda-slider a{
    color:#ffffff;
    text-decoration: none;
}

.page-node-26 .eventos-academicos h2.pane-title {
    background-image: url("../images/Agenda_academicas.png");
    background-repeat: no-repeat;
    text-indent: -9000px;
    height: 42px;
    background-position-x: 94px;
    margin-bottom: 16px;
    background-color: #eaeaea;
    background-position-y: 50%;
}

.page-node-26 .eventos-concurso h2.pane-title {
    background-image: url("../images/Agenda_concursos.png");
    background-repeat: no-repeat;
    text-indent: -9000px;
    height: 42px;
    background-position-x: 94px;
    margin-bottom: 16px;
    background-color: #eaeaea;
    background-position-y: 50%;
}

.page-node-26 .eventos-culturales h2.pane-title {
    background-image: url("../images/Agenda_culturales.png");
    background-repeat: no-repeat;
    text-indent: -9000px;
    height: 42px;
    background-position-x: 94px;
    margin-bottom: 16px;
    background-color: #eaeaea;
    background-position-y: 50%;
}

.page-node-26 .eventos-posgrado h2.pane-title {
    background-image: url("../images/Agenda_posgrados.png");
    background-repeat: no-repeat;
    text-indent: -9000px;
    height: 42px;
    background-position-x: 94px;
    margin-bottom: 16px;
    background-color: #eaeaea;
    background-position-y: 50%;
}


.page-node-26 .titulo-agenda{
    padding-top: 16px;
    background-color: #FFFFFF;
    padding-bottom: 16px;
}

.page-node-26 .titulo-agenda a{
    margin-left: 15px;
    color: #c30d27;
}

.page-node-26 .titulo-agenda a:hover{
    text-decoration: none;
}


.page-node-26 .view-vista-eventos-agrupados .fecha-agenda {
    background-color: #FFFFFF;
    color: #c30d27;
    width: 67px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    text-transform: lowercase;
    float: left;
}

.page-node-26 .view-vista-eventos-agrupados .fecha-agenda:hover {
    background-color: #c30d27;
    color:#ffffff;
}

.page-node-26 .view-vista-eventos-agrupados .fecha-agenda {
    background-color: #eaeaea;
    color: #c30d27;
}


.page-node-26 .redes-sociales {
    position: absolute;
    right: 19px;
    overflow: hidden;
    top: 113px;
    z-index: 99999;
}

/* ----------------FIN AMBIENTE AGENDA ...........*/

/*Estilos de ANDRES*/

.tabla_title {
    background-color: #e7e7e7;
    font-weight: bold;
    line-height: 1.7em;
    padding: 10px;
    margin: 20px 0 5px;
}
.tabla_data {
    border-bottom: 1px solid #cccccc;
    line-height: 1.7em;
    padding: 10px 0px;
}
.tabla_data_clear {
    line-height: 1.7em;
    padding: 10px 0px;
}
.tabla_data_dashed {
    border-bottom: 1px dashed #c6c6c6;
    line-height: 1.7em;
    padding: 10px 0px;
}
.line_bottom {
    border-bottom: 1px solid #d0d0d0;
}
.line_top {
    border-top: 1px solid #cccccc;
}
.recuadro_info_dest_1 {
    background-color: #dadada;
    border: 1px solid #cccccc;
    line-height: 1.5em;
    padding: 10px;
}
.recuadro_info_dest_2_title {
    background-color: #dadada;
    font-weight: bold;
    line-height: 1.5em;
    margin-bottom: 2px;
    padding: 10px;
}
.recuadro_info_dest_2_data {
    background-color: #e9e9e9;
    line-height: 1.5em;
    margin-bottom: 1em;
    padding: 1em;
}
.news_photo_left {
    float: left;
    padding: 0 1em 0.7em 0;
}
.news_photo_right {
    float: right;
    padding: 1em 0 1em 1em;
}
.tabla_data_autorid_left {
    float: left;
    line-height: 1.5em;
    padding: 10px 10px 10px 0;
    text-align: right;
    width: 45%;
}
.tabla_data_autorid_right {
    float: left;
    line-height: 1.5em;
    padding: 10px 0 10px 10px;
    width: 42%;
}
