
/*HEADER*/
.navbar{
    height:211px;
    background-color: #9fd2f1;
    background-image: url("../images/logo_reforma.png") ;
    background-size: 185px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 68px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius:0px;
    border-top-right-radius: 0px;
    border:0 solid #9fd2f1;
}
.logo{
    padding: 0;
    margin: 0;
}
.logo img{
    width: 70px;
    margin-left: 200px;
    margin-top: 68px;
}

/*MENU*/

#block-menu-menu-men-perfiles ul.menu.nav li{
    display:inline;
    float:left;
}
#panel-menu-superior ul.menu.nav li{
    float:left;
}


/*VISTA TIRA DE BANNERS*/

.view-vista-tira-banners {
    margin-right: 70px;
    margin-left: 40px;
}

.owl-carousel-block_19 .owl-item {
    width: 170px !important;
    margin-left: 30px;
}
    
.owl-carousel-block_19 .owl-wrapper-outer{
    position: absolute;
}

.owl-carousel-block_19 .owl-controls.clickable .owl-prev {
    float: left;
    background-image: url("../images/izquierda.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0;
    margin-left: -40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    opacity: 1;
    background-size: 37px 65px;
    font-size: 1px;
}

.owl-carousel-block_19 .owl-controls.clickable .owl-next {
    float: right;
    background-image: url("../images/derecha.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0;
    margin-right: -70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    background-size: 37px 65px;
    font-size: 1px;
}

.owl-carousel-block_19 .owl-theme .owl-controls {
    margin-left: -70px;
    margin-right: -70px;
}

.pane-vista-tira-banners {
    height: 70px;
    margin-bottom: 60px;
}
/*SLIDER*/

.field-content.unc-slider{
    position: absolute;
    top: 234px;
    background-color: #74bde9;
    padding-top: 32px;
    padding-bottom: 28px;
    padding-right: 24px;
    padding-left: 84px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    font-weight: bold;
    font-size:26px;
    color:#0C3C6D;
    background-image: url("../images/icono_titular.png");
    background-repeat: no-repeat;
    background-size: 52px 42px;
    background-position-y: 32px;
    background-position-x: 18px;
    width: 400px;
}
.field-content.unc-slider a{
    color:#0C3C6D;
    text-decoration: none;
}

/* ---------  PANEL HOME ----------- */

/* Vista Tira Noticias */
.pane-vista-tira-noticias {
    background: #E6F2FD;
    font-size: 11px;
}
.view-id-vista_tira_noticias .owl-item {
    margin: 15px 0 0 0;
    padding: 0 15px;
}
.view-id-vista_tira_noticias .owl-item .carousel-caption {
    padding: 0;
    position: relative;
    text-shadow: none;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 13px;
    font-weight: bold;
}

/*---VISTA NOVEDADES-----*/
.pane-vista-novedades h2{
    background-image: url("../images/faja-novedades.png");
    background-repeat: no-repeat;
    background-size: 193px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 50%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.view-id-vista_novedades li {
    background-color: #f5fafe;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.view-id-vista_novedades li:hover {
    background-color: #E6F2FD;
}

.view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #337ab7;
    text-decoration: none;
}

/*-----VISTA EVENTOS HOME-------*/
.pane-vista-eventos h2{
    background-image: url("../images/faja-agenda.png");
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 10%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.view-id-vista_eventos .fecha-agenda {
    background-color: #9fd2f1;
    color: #ffffff;
    width: 70px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    text-transform: lowercase;
    float: left;
}

.view-id-vista_eventos .fecha-agenda:hover {
    background-color: #90278e;
}

.view-id-vista_eventos table {
    width: 100%;
}

.view-id-vista_eventos table td {
    width: 50%;
    height: 50px;
    background-color: #f5fafe;
    margin-bottom: 5px;
}

.view-id-vista_eventos table tr:nth-child(odd) {
    background-color: #f5fafe;
}

.view-id-vista_eventos table tr:nth-child(even) {
    background-color: #FFFFFF;
}

.view-id-vista_eventos table td.col-1.col-first{
    border-right: 30px solid #ffffff;
}

.titulo-agenda {
    padding-top: 15px;
}

.titulo-agenda a{
    margin-left: 15px;
    color: #222222;
}

.titulo-agenda a:hover{
    color: #337ab7;
    text-decoration: none;
}

.pane-vista-eventos {
    margin-bottom: 40px;
}

/*-----SECCION CONTACTO-------*/
.pane-vista-contacto h2{
    background-image: url("../images/faja-contactos.png");
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 10%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.mapa-contacto {
    background-color: #f5fafe;
    float: left;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    margin-right: 20px;
}