@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:700);
body{
    font-family: 'Lato', sans-serif;
    color: #222222;
    font-size: 13px;
}
/* ---------  HEADER ---------  */
.navbar{
    height:211px;
    background-color: #9fd2f1;
    background-image: url("../images/logo_reforma.png") ;
    background-size: 185px;
    background-repeat: no-repeat;
    background-position-x: 0;
    background-position-y: 68px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius:0px;
    border-top-right-radius: 0px;
    border:0 solid #9fd2f1;
}
.logo{
    padding: 0;
    margin: 0;
}
.logo img{
    width: 70px;
    margin-left: 200px;
    margin-top: 68px;
}
.logo-campus-virtual {
    position: absolute;
    float: right;
    height: 308px;
    width: 215px;
    left: 925px;
    top: 0px;
}
.container > .logo-campus-virtual, .container-fluid > .logo-campus-virtual{
    /*left: 660px;*/
}
.logo-campus-virtual img{
    width: 215px;
}
a.name.navbar-brand {
    position: absolute;
    top: 80px;
    color:#005288;
    font-size:20px;
    margin-left: 0;
}
a.name.navbar-brand:hover{
    color: #005288;   
}
p.lead {
    position: absolute;
    top: 118px;
    left: 270px;
    color:#005288;
    font-weight: bold;
    margin-left: 30px;
}
/* ---------  MENU  --------- */

#block-menu-menu-men-perfiles ul.menu.nav li{
    display:inline;
    float:left;
}
#panel-menu-superior ul.menu.nav li{
    float:left;
}

/* ---------  PANEL HOME ----------- */

/*VISTA TIRA DE BANNERS*/

#tira-banners{
    height: 70px;
    margin-bottom: 60px;
}

#tira-banners .view-vista-tira-banners {
/*    margin-right: 70px;
    margin-left: 40px;*/
}

.owl-carousel-block_19 .owl-item {
/*    width: 170px !important;
    margin-left: 30px;*/
}
    
.owl-carousel-block_19 .owl-wrapper-outer{
    /*position: absolute;*/
}

.owl-carousel-block_19 .owl-controls.clickable .owl-prev {
/*    float: left;
    background-image: url("../images/izquierda.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0;
    margin-left: -40px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    opacity: 1;
    background-size: 37px 65px;
    font-size: 1px;*/
}

.owl-carousel-block_19 .owl-controls.clickable .owl-next {
/*    float: right;
    background-image: url("../images/derecha.png");
    background-repeat: no-repeat;
    width: 70px;
    height: 70px;
    background-color: #ffffff;
    border-radius: 0;
    padding: 0;
    margin-right: -70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    opacity: 1;
    background-size: 37px 65px;
    font-size: 1px;*/
}

.owl-carousel-block_19 .owl-theme .owl-controls {
/*    margin-left: -70px;
    margin-right: -70px;*/
}
.owl-item img {
}

/*SLIDER*/
.field-content.unc-slider{
    position: absolute;
    top: 234px;
    background-color: #74bde9;
    padding-top: 32px;
    padding-bottom: 28px;
    padding-right: 24px;
    padding-left: 84px;
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
    font-weight: bold;
    font-size:26px;
    color:#0C3C6D;
    background-image: url("../images/icono_titular.png");
    background-repeat: no-repeat;
    background-size: 52px 42px;
    background-position-y: 32px;
    background-position-x: 18px;
    width: 400px;
}
.field-content.unc-slider a{
    color:#0C3C6D;
    text-decoration: none;
}

.view-vista-slider-noticias #flexslider-1 ul.flex-direction-nav{
    display:none;
}

.view-vista-slider-noticias #flexslider-1 ol.flex-control-nav.flex-control-paging{
    text-align: right;
}

.view-vista-slider-noticias #flexslider-1 ol.flex-control-nav.flex-control-paging a{
    text-align: center;
}
.view-vista-slider-noticias #flexslider-1{
    margin-bottom: 40px;
}

.flex-control-paging li a.flex-active {
    background: #c4e2f7;
    background: rgb(230, 242, 253);
}
.flex-control-paging li a:hover{
    background: #c4e2f7;
}
.flex-control-paging li a{
    background: rgba(134, 151, 145,1);
}

/* Vista Tira Noticias */
.pane-vista-tira-noticias {
    background: #E6F2FD;
    font-size: 11px;
}

.view.view-vista-tira-noticias.view-id-vista_tira_noticias.view-display-id-block_1 {
    margin-bottom: 40px;
}
.view-id-vista_tira_noticias .owl-item {
    margin: 15px 0 0 0;
    padding: 0 15px;
}
.view-id-vista_tira_noticias .owl-item .carousel-caption {
    padding: 0;
    position: relative;
    text-shadow: none;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 13px;
    font-weight: bold;
    text-align: left;
}
.view-id-vista_tira_noticias .owl-theme .owl-controls{
    text-align:right;
}
.view-id-vista_tira_noticias .owl-pagination{
    margin-right: 8px;
}

/*vista videos*/
.nav-tabs.nav-justified > li > a{
    border-bottom: none;
}
.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus{
 border:0;
 background-color: #ddd; 
}
.panel-pane.pane-views.pane-vista-videos h2.pane-title{
    text-indent: -9000px;
    background-image: url("../images/faja-audiovisual.png");
    background-size: 300px 40px;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 100px;
    margin-bottom: 40px;
}
/*vista servicios*/
.panel-pane.pane-views.pane-vista-tira-banners.vista-servicios .views-field.views-field-field-banner{
    margin-bottom: 10px;
    margin-right: 30px;
    width: 265px;
}

.panel-pane.pane-views.pane-vista-tira-banners.vista-servicios h2.pane-title{
    text-indent: -9000px;
    background-image: url("../images/faja-servicios.png");
    background-size: 160px 40px;
    background-repeat: no-repeat;
    height: 40px;
    margin-left: 100px;
    margin-bottom: 40px;
}

/*---VISTA NOVEDADES-----*/
.pane-vista-novedades h2{
    background-image: url("../images/faja-novedades.png");
    background-repeat: no-repeat;
    background-size: 193px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 100px;
    margin-bottom: 40px;
}

.view-id-vista_novedades ul {
    padding-left: 0px;
}

.view-id-vista_novedades li {
    background-color: #f5fafe;
    list-style: none;
    margin-bottom: 15px;
    line-height: 50px;
}

.view-id-vista_novedades li a {
    vertical-align: middle;
    margin-left: 10px;
    color: #222222;
}

.view-id-vista_novedades li:hover {
    background-color: #E6F2FD;
}

.view-id-vista_novedades li a:hover {
    vertical-align: middle;
    margin-left: 10px;
    color: #337ab7;
    text-decoration: none;
}

/*-----VISTA EVENTOS HOME-------*/
.pane-vista-eventos h2{
    background-image: url("../images/faja-agenda.png");
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 10%;
    margin-top: 60px;
    margin-bottom: 40px;
}

.view-id-vista_eventos .fecha-agenda {
    background-color: #9fd2f1;
    color: #ffffff;
    width: 70px;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    text-transform: lowercase;
    float: left;
}

.view-id-vista_eventos .fecha-agenda:hover {
    background-color: #90278e;
}

.view-id-vista_eventos table {
    width: 100%;
}

.view-id-vista_eventos table td {
    width: 50%;
    height: 50px;
    background-color: #f5fafe;
    margin-bottom: 5px;
}

.view-id-vista_eventos table tr:nth-child(odd) {
    background-color: #f5fafe;
}

.view-id-vista_eventos table tr:nth-child(even) {
    background-color: #FFFFFF;
}

.view-id-vista_eventos table td.col-1.col-first{
    border-right: 30px solid #ffffff;
}

.titulo-agenda {
    padding-top: 15px;
}

.titulo-agenda a{
    margin-left: 15px;
    color: #222222;
}

.titulo-agenda a:hover{
    color: #337ab7;
    text-decoration: none;
}

.pane-vista-eventos {
    margin-bottom: 40px;
}

/*-----SECCION CONTACTO-------*/
.pane-vista-contacto h2{
    background-image: url("../images/faja-contactos.png");
    background-repeat: no-repeat;
    background-size: 160px 40px;
    text-indent: -9000px;
    height: 40px;
    background-position-x: 100px;
    margin-bottom: 40px;
}

.mapa-contacto {
    background-color: #f5fafe;
    float: left;
    padding-bottom: 30px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    margin-right: 20px;
}

/* ----------- FOOTER ---------------*/

.footer {
    border-top: 1.5px solid #005288;
}
.footer-unc{
    width: 371px;
    height: 61px;
    background-image: url(../images/logo_footer.png);
    background-position: 0px;
    background-size: 371px 61px;
    background-repeat: no-repeat;
    margin: auto;
}

/*-----------MENU REDES SOCIALES--------*/
.redes-sociales{
    position: fixed;
    float: right;
    overflow: hidden;
    top: 0;
}